.ant-menu-vertical {
  width: 100% !important;
}

.ant-layout {
  height: 100%;
}

.ant-layout-sider {
  flex: 0 0 27rem !important;
  max-width: 27rem !important;
}

.ant-layout-sider {
  background: #FFF !important;
}

.ant-card-body {
  padding: 1.5rem !important;
}